
<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="{{ absolute_url(asset('/librito.png')) }}">
        <a class="nav-link active" aria-current="page" href="{#{ path('app_listado_libro') }#}#">Libros</a>
  <a class="nav-link" href="{#{ path('app_crear_libro') }#}#">Crear</a>
    </a>
  </div>
</nav>