{% extends 'base.html.twig' %}

{% block title %}Edit Libro{% endblock %}

{% block body %}
    <h1>Edit Libro</h1>

    {{ include('libro/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_libro_index') }}">back to list</a>

    {{ include('libro/_delete_form.html.twig') }}
{% endblock %}
