{% extends 'base.html.twig' %}

{% block title %}Editar Libro{% endblock %}

{% block body %}
    <h1>Editar Libro</h1>

    {{ include('libro/_form.html.twig', {'button_label': 'Update'}) }}
   {{ include('libro/_delete_form.html.twig') }}
    <a class="btn btn-primary"href="{{ path('app_libro_index') }}">Volver a la lista</a>
    
    
    
    
{% endblock %}
