{% extends 'base.html.twig' %}

{% block title %}New Libro{% endblock %}

{% block body %}
<div class="form-control form-control-sm">
    <h1>Crear nuevo Libro</h1>

    {{ include('libro/_form.html.twig') }}
    
    <a class="btn btn-primary" href="{{ path('app_libro_index') }}">Volver a la lista</a>
    </div>
{% endblock %}
